// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
#sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh);
    padding-top: .5rem;
    overflow: hidden;
}
