<template>
    <div>
        <form>
            <div class="card">
                <div class="card-boyd">
                    <p> We found {{arrRecords.length}} contacts to import</p>
                    <div class="form-group">
                        Map Fields
                        <div class="input-group col-sm-12">
                            <div class="col-sm-3">
                                <label for="team_id">Team ID </label>
                            </div>
                            <div class="col-sm-9">
                                <select name="team_id" id="team_id" v-model="fields.team_id" >
                                    <option v-for="field in arrFields" :value="field">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group col-sm-12">
                            <div class="col-sm-3">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-sm-9">
                                <select name="name" id="name" v-model="fields.name" >
                                    <option v-for="field in arrFields" :value="field">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group col-sm-12">
                            <div class="col-sm-3">
                                <label for="name">Phone</label>
                            </div>
                            <div class="col-sm-9">
                                <select name="phone" id="phone" v-model="fields.phone" >
                                    <option v-for="field in arrFields" :value="field">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group col-sm-12">
                            <div class="col-sm-3">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-sm-9">
                                <select name="email" id="email" v-model="fields.email" >
                                    <option v-for="field in arrFields" :value="field">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group col-sm-12">
                            <div class="col-sm-3">
                                <label for="sticky">Sticky Phone Number ID</label>
                            </div>
                            <div class="col-sm-9">
                                <select name="sticky" id="sticky" v-model="fields.sticky" >
                                    <option v-for="field in arrFields" :value="field">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-for="(input,k) in inputs" :key="k">
                            <div class="input-group">
                                <label for="" class="col-sm-2">Attribute</label>
                                <input type="text" class="form-control col-sm-5" v-model="input.key">
                                <span class="input-group-addon">-</span>
                                <select v-model="input.field" class="col-sm-5">
                                    <option v-for="field in arrFields" :value="field">{{field}}</option>
                                </select>
                            </div>
                            <span>
                                <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)"></i>
                                <i class="fas fa-plus-circle" @click="add(k)" v-show="k == inputs.length-1"></i>
                            </span>
                        </div>
                        <div class="form-group text-right">
                            <a href="#" class="btn btn-success" @click.prevent="validateForm">Process Contacts</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        name: 'csvfields',
        props: ['arrFields', 'arrRecords'],
        data() {
            return {
                records: 0,
                fields:{
                    team_id: '',
                    name: '',
                    phone: '',
                    email: '',
                    sticky: '',
                },
                inputs: [{
                    key: '',
                    field:''
                }]
            }
        },
        mounted() {
            console.log(this.arrRecords);
            this.records = this.arrRecords.length;
        },
        methods: {
            add(index) {
                this.inputs.push({ key: '', field: '' });
            },
            remove(index) {
                this.inputs.splice(index, 1);
            },
            processRecords(){
                axios.post('/api/importcontacts',
                    { csvfields: this.arrFields, contacts: this.arrRecords, mapping: this.fields, attrs: this.inputs }
                    ).then(response=>{
                        alert('Contacts Imported Successfully');
                        location.reload();
                    });
            },
            validateForm(){
                if( this.fields.team_id == '' || this.fields.name == '' || this.fields.phone == '' || this.fields.email =='' || this.fields.sticky == ''){
                    alert('You should map every field to import the contacts');
                }
                else {
                    this.processRecords();
                }
                this.inputs.forEach((val, index, arr)=>{
                    console.log(this.inputs[index]);
                    if (this.inputs[index] == '' ) {
                        arr.splice(index, 1)
                    }
                })
            }
        },
    }
</script>
