<template>
    <form action="">
        <div class="container" v-if="start">
            <div class="card text-center mt-2 pt-5">
                <p><i class="fas fa-5x fa-file-csv px-5 text-success"></i></p>
                <div class="card-body">
                    <label for="file" v-html="strLabel"> </label>
                    <input id="file" name="file" type="file" accept="text/csv" ref="file" style="display: none;"  @change="fileinputchange" @click="fileinputclear">
                    <div class="card">
                        <a href="#" class="btn btn-success" @click="$refs.file.click()" v-html="strUpload"></a>
                    </div>
                </div>
            </div>
            <div v-if="processFile">
                <csvfields :arr-fields="arrFields" :arr-records="arrRecords" ></csvfields>
            </div>

        </div>
    </form>
</template>
<script>
    import csvfields from "./csvfields";
    export default{
        name: "csvmapper",
        components: {
            csvfields,
        },
        data(){
            return {
                start: true,
                processFile: false,
                mapfields: false,
                strLabel: 'Choose the CSV file to upload',
                strUpload: 'Select File',
                csvFile: '',
                csvText: '',
                arrRecords: '',
                arrFields: null,
            }
        },
        methods:{
            fileinputclear(event){
                this.$refs.file.value=null;
            },
            fileinputchange(event){
                this.csvFile = event.target.files[0];
                if ( this.csvFile && this.csvFile.name.trim() != ''){
                    this.processFile = true;
                    this.strLabel = this.csvFile.name;
                    this.strUpload ='Upload a different file';
                    let fr = new FileReader();
                    fr.readAsText(this.csvFile);
                    fr.onload = event=>{
                        this.csvText = event.target.result;
                        axios.post('/api/processcsv', {text: this.csvText})
                            .then(response=>{
                                this.arrFields = response.data[0];
                                this.arrRecords = response.data[1];
                            });
                    };
                }
            },
        }
    }
</script>
